thead {
  th {
    background: rgba($table-head-bg, 0.5);
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

tbody .section {
  &-spacer:not(:first-child) {
    height: $table-section-spacing;
    visibility: hidden;
  }
  th {
    background-color: $table-section-bg;
  }
}

.bg-stripped {
  background-color: $table-accent-bg;
}

td.bg-danger {
  border-top-color: darken($danger, 5);
}

td.bg-warning {
  border-top-color: darken($warning, 5);
}

td.bg-info {
  border-top-color: darken($info, 5);
}

td.bg-light {
  border-top-color: darken($light, 5);
}
