<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />

    <meta name="description" content="{%- block description -%}{% endblock %}" />
    <meta property="og:image" content="https://octodex.github.com/images/dojocat.jpg">

    <link rel="stylesheet" href="static/assets/front.css" />

    <title>{%- block title -%}{%- endblock -%}</title>
  </head>

  <body>
    {%- block content -%}{%- endblock -%}
    <script src="static/assets/front.js"></script>
  </body>
</html>
